/* General Styles */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    margin-left: 220px;
  }
  
  /* Header Styles */
  header.container {
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Dashboard Title Icon */
  header.container i.fa-dashboard {
    margin-right: 10px;
    font-size: 40px;
  }
  
  /* Row Styles */
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
  }
  /* Column Styles */
  .column {
    position: relative;
    width: calc(25% - 100px);
    box-sizing: border-box;
    color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .column:hover {
    transform: translateY(-5px);
  }
  .xxxlarge{
    font-size: 30px;
  }
  
  /* Table Styles */
  .sales-table {
    width: 98%;
    border-collapse: collapse;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .sales-table thead tr {
    background-color: #333333;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .sales-table th,
  .sales-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
  }
  
  .sales-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .sales-table tbody tr:hover {
    background-color: #f1f1f1;
  }
#recent-section {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
    text-align: center;
  }
#recent-section i.fa-chart-line{
    font-size: 40px;
}
#feedback-section {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
    text-align: center;
  }
  
#feedback-section i.fa-comments {
    margin-right: 10px;
    color: #007bff;
    font-size: 40px;
  }
  
  .feedback-display {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
  }
  
  .feedback-item {
    border-bottom: 1px solid #eeeeee;
  }
  
  .feedback-date {
    font-style: italic;
    color: #777777;
  }
  
  .feedback-text {
    color: #333333;
    font-size: 16px;
  }
  
  .feedback-customer {
    font-weight: bold;
    color: #007bff;
  }
  
  /* Last feedback item without bottom border */
  .feedback-item:last-child {
    border-bottom: none;
  }
  